<style type="text/css">
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
 
body,td,th {
	color: #000;
}
 

 
h1 {
	font-size: 28px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 6px;
}
body {background-image: url(/images/t016ee9d09817478b4c.jpg);
	margin-left: 5%;
	margin-top: 2px;
	margin-right: 5ex;
	margin-bottom: 2%;
}
</style>